@use "./styles/univers/foundation/foundation.scss" as f;

#root {
  min-height: 100vh;
}

html.theme-minimalism,
body.theme-minimalism,
html.theme-energique,
body.theme-energique,
html.theme-accueillant,
body.theme-accueillant {
  background-color: var(--background-main);
  color: var(--color-main);
  color-scheme: light;
}